<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="itesm.mx.accesibilidad" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission  android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListaDiscapacidades"
            android:label="@string/title_activity_lista_discapacidades"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Ruta"
            android:label="@string/title_activity_ruta"
            android:screenOrientation="portrait"
            >

        </activity>
        <activity
            android:name=".ListaEdificios"
            android:label="@string/title_activity_lista_edificios"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".VistaEdificio"
            android:label="@string/title_activity_vista_edificio"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MapaCampus"
            android:label="@string/title_activity_mapa_campus"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Creditos"
            android:label="@string/title_activity_creditos" >
        </activity>
    </application>

</manifest>
